#productlist #nav {
  height: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
}
#productlist #nav a {
  line-height: 40px;
  display: inline-block;
}
#productlist #nav button {
  float: right;
  width: 70px;
  height: 35px;
  margin-top: 1px;
  border: none;
  background-color: #a1a1a1;
}
#productlist #productContent .media {
  height: 140px;
  padding: 10px;
  border-bottom: 1px solid #a1a1a1;
}
#productlist #productContent .media .pull-left img {
  width: 100px;
  height: 100px;
}
#productlist #productContent .media .media-body {
  color: #333;
  line-height: 28px;
}
#productlist #productContent .media .media-body h4 {
  font-size: 16px;
  line-height: 28px;
}
#productlist #productContent .media .media-body h4 span {
  color: #ff841d;
  line-height: 30px;
  font-size: 18px;
}
#productlist #productContent .media .media-body .price {
  color: red;
}
#productlist #productContent .media .media-body .price i {
  font-size: 9px;
}
#productlist #productContent .media .media-body .price span {
  font-size: 16px;
}
#productlist #productContent .media .media-body .info {
  color: #a1a1a1;
  font-size: 12px;
}
#productlist #productContent .media .media-body .info *:nth-child(2) {
  float: right;
}
#productlist #productPage {
  display: flex;
  height: 40px;
  padding-top: 10px;
}
#productlist #productPage div {
  flex: 1;
  float: left;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
#productlist #productPage div #productlistSelect {
  width: 70px;
  height: 30px;
}
#productlist #productPage div button {
  width: 70px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
